<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="hiscentralSoap" />
                <binding name="WaterOneFlow" />
            </basicHttpBinding>
            <customBinding>
                <binding name="hiscentralSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://hiscentral.cuahsi.org/webservices/hiscentral.asmx"
                binding="basicHttpBinding" bindingConfiguration="hiscentralSoap"
                contract="hiscentral.hiscentralSoap" name="hiscentralSoap" />
            <endpoint address="http://hiscentral.cuahsi.org/webservices/hiscentral.asmx"
                binding="customBinding" bindingConfiguration="hiscentralSoap12"
                contract="hiscentral.hiscentralSoap" name="hiscentralSoap12" />
            <endpoint address="http://water.sdsc.edu/lbrsdsc/cuahsi_1_1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WaterOneFlow"
                contract="wof_1_1.WaterOneFlow" name="WaterOneFlow" />
        </client>
    </system.serviceModel>
</configuration>